@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

#appora,
#appora_feature,
#appora_services,
#appora_contact {
  padding: 70px 0;
}

#appora .appora_head h3,
#appora_feature .appora_head h3,
#appora_services .appora_head h3,
#appora_contact .appora_head h3 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#appora .appora_head p,
#appora_feature .appora_head p,
#appora_services .appora_head p,
#appora_contact .appora_head p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 0 170px;
}

.main_manu {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 30px;
}

.main_manu.fixxed {
  position: fixed;
  left: 0;
  width: 100%;
  background: #962DE6;
  z-index: 999;
  top: -30px;
}

.main_manu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.main_manu ul li a:hover {
  color: aqua;
}

.back_top {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #962DE6;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 40px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: none;
}

* {
  margin: 0;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.humberger-icon {
  cursor: pointer;
  width: 2px;
  height: 0px;
  -webkit-transform: scale(5);
          transform: scale(5);
}

.humberger-icon div {
  display: block;
  background: white;
  width: 8px;
  height: 1px;
  margin: 1px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.humberger-icon div::before {
  background: #000;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transition: right .25s ease;
  transition: right .25s ease;
}

.humberger-icon:hover div:nth-of-type(1)::before {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.humberger-icon:hover div:nth-of-type(2)::before {
  -webkit-transition-delay: .05s;
          transition-delay: .05s;
}

.humberger-icon:hover div::before {
  right: 0;
  -webkit-transition: right .25s ease;
  transition: right .25s ease;
}

#banner {
  padding: 273px 0 81px;
}

#banner .banner_txt h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#banner .banner_txt p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 50px 0;
}

#banner .banner_txt ul li a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background: #fff;
  padding: 15px 39px 15px 20px;
  border-radius: 5px;
  margin-right: 24px;
}

#banner .banner_img {
  text-align: right;
  margin-top: -50px !important;
}

.appora_snd_part {
  margin-top: 54px;
}

.appora_snd_part .appora_content {
  padding: 20px 0 58px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  margin-top: 24px;
}

.appora_snd_part .appora_content:hover::after {
  opacity: 1;
}

.appora_snd_part .appora_content::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #372E95;
  opacity: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.appora_snd_part .appora_content i {
  color: #202877;
  font-size: 100px;
}

.appora_snd_part .appora_content h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 15px 0;
}

.appora_snd_part .appora_content p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.serv_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 170px;
}

.serv_details .serv_img2 {
  width: 30%;
}

.serv_details .serv_img {
  width: 40%;
  margin-top: -80px;
}

.serv_tow_details {
  margin-top: 30px;
}

.serv_tow_details .serv_tow_txt {
  margin-top: 146px;
}

.serv_tow_details .serv_tow_txt h3 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.serv_tow_details .serv_tow_txt p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}

.serv_tow_details .serv_tow_txt ul {
  position: relative;
  margin-top: 30px;
}

.serv_tow_details .serv_tow_txt ul li {
  margin-left: 30px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.serv_tow_details .serv_tow_txt ul li i {
  position: absolute;
  left: 0%;
  margin-top: 5px;
  color: #962DE6;
}

.serv_tow_details .serv_tow_txt a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  background: #202877;
  padding: 20px 40px;
  margin-top: 30px;
}

.serv_tow_details .serv_tow_img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: right;
}

.serv_three_details {
  margin-top: 90px;
}

.serv_three_details .serv_three_txt h3 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.serv_three_details .serv_three_txt p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}

.serv_three_details .serv_three_txt ul {
  position: relative;
  margin-top: 30px;
}

.serv_three_details .serv_three_txt ul li {
  margin-left: 80px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
}

.serv_three_details .serv_three_txt ul li a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #962DE6;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  margin-top: -15px;
}

.serv_three_details .serv_three_txt ul li a i {
  color: #fff !important;
}

.serv_three_details .serv_three_form form .form_last input {
  margin-top: 50px;
  border: 0;
  outline: none;
  width: 100%;
  border-bottom: 3px solid #962DE6;
}

.serv_three_details .serv_three_form form .form_last textarea {
  margin-top: 70px;
  border: 0;
  outline: none;
  width: 100%;
  border: 3px solid #962DE6;
  border-radius: 10px;
  resize: none;
  padding-left: 10px;
}

.serv_three_details .serv_three_form form .form_last a {
  padding: 14px 22px;
  border-radius: 5px;
  background: #962DE6;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}

.serv_three_details .serv_three_form form ul li {
  width: 50%;
}

.serv_three_details .serv_three_form form ul li input {
  border: 0;
  outline: none;
  width: 90%;
  border-bottom: 3px solid #962DE6;
}

#footer {
  background: #222;
  padding: 60px 0px 30px;
}

#footer .foot_top {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

#footer .foot_top .foot_one p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}

#footer .foot_top .foot_one ul {
  margin-top: 30px;
}

#footer .foot_top .foot_one ul li {
  margin-right: 15px;
}

#footer .foot_top .foot_one ul li a i {
  font-size: 20px;
  color: #fff;
}

#footer .foot_top .foot_tow h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

#footer .foot_top .foot_tow ul {
  margin-top: 30px;
}

#footer .foot_top .foot_tow ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

#footer .foot_bottom p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */